<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet"type= "text/css"href= "style.css"

    <div class="card"> 
      <h2> For the teens in our lives! Achievement is to Accomplish or Attain by Work or Effort</h2> 
  </head>
  <body>  
  <div class="card"> 
    <img src="image/teen.jpg" alt="My Blog Image" width="600"> <br> <br>
    What does it mean to achieve? <br> <br>
<p>You may think that this single question is only asked of you when you are between the ages of 16-18.  It's the notorious question that is echoed from your guidance counselor, parents and that one family member that you were stuck sitting next to at the last family reunion (LOL).  On a serious note, this question may start in high-school, but during the course of your life you will be asked what achievement means to you?  The beauty of achievement is that it is a combination of work and effort.  That's it!!!  There's no financial cost, no special VIP pass or any other secret path to get it.  Through work and effort, you have the ability to attain achievement. <p>

<p>According to Keith D. Harrell, author of "Attitude is Everything for Success" there are three simple exercises that you can do daily to assist in obtaining your goals.  The three basic ideas to manifest what you want to achieve is to Say it, Believe it, and Receive it. <p>

Say It! <br> <br> 

<p>Throughout the day positively say the following affirmations to yourself:  <p>

<p>*I acknowledge achievement in all areas of my life.
*I possess the skills and talents to achieve anything.<p>

<p>Saying these statements aloud and to yourself are powerful, because it's the first step to acknowledging your desire to achieve.  You may also want to recite these affirmations to a family member or friend to further speak in existence your desire to achieve.  <p>

Believe it! <br> <br>

<p>Whatever you are looking to achieve, you must believe that you can do it!!!  When I was in high-school, from all accounts, I should have not been college bound.  My grades told it, my teachers said it, and my attitude demonstrated it.  Despite all of those factors, I believed that I would achieve an education.  There was no uncertainty in my mind that I would achieve my educational goals.  I had to cut my obstacles into "bite size" challenges (so to speak) so that I could begin to gain achievement by overcoming each hurdle. The end result was that I successfully achieved an undergraduate degree and then (later) an MBA.  <p>

Receive it! <br> <br>

<p>You must visualize your success and live it.  It must be so a part of you that you not only see it, but others see it too.  For example, you may want to be a writer.  Well, start surrounding yourself with authors by attending book signings, stay committed to writing and learn everything that you can about being a writer.  Why not introduce yourself as a writer (if you have started to write).  The point is to be the achievement that you want to see.  Remember, achievement is both large and small.  Good luck!!!
<a href="/"> <br>
Back </a>
  <p>


Source:  Attitude is Everything for Success by Keith D. Harrell
</div>