<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet"type= "text/css"href= "style.css"

    <h2> What’s the difference between a résumé and a CV? </h2> 
  </head>
  <body>  
  <div class="card">
    <div class = "container"> 
    <img src="image/arnel.jpg" alt="My Blog Image" width="600"><br><br>
At some point in our job seeking journeys, we’ve all been asked to submit our résumés or CVs. But how many of us assume these documents are essentially the same thing? They are not, and understanding the difference can help you make the case for yourself.  
<br> <br>


<p>Over the years, I have reviewed a number of applicants’ résumés and CVs. They have not all been equal. Those of us who have been in the workforce for some time have even noticed changes in what should or should not be included in these documents. If you are newer to the workforce, you may need some pointers on how create your résumé or CV to reflect your awareness of these changes; you want to make the documents represent your best self. But whether you have been doing this for a while or you’re just starting out, this is a great time to take a look at what you have and review it with a critical eye. </p> 

And while you’re looking, keep this in mind: when you are invited to apply for a board, you will have to submit a recent résumé or CV. <br> <br>

So let’s determine which document you should use. <br> <br>

Both résumés and CVs detail educational and professional qualifications, but they differ in length and purpose, the relevant industry or discipline generally determining which is required. Both documents must include your full name, current contact information, education, skills and experience. <br> <br>

Résumés are brief, generally one but not more than two pages that include your education, professional experience and relevant credentials. Most human resource departments in the U. S. request résumés. The formatting can vary and optional sections, such as objectives and career summaries, can be featured. Brevity is achieved by utilizing bullet points. Here is a great site with a formula for writing résumé bullet points: <br> <br>

https://careers.uiowa.edu/resume-writing-bullet-points <br> <br>

The primary objective of a résumé is to convey that you are the perfect fit for the position you seek. You have the flexibility to list relevant information in the order that best captures the reviewer’s attention. Think of it as your one-minute career biography and advertisement of yourself. When someone reads your résumé, he or she has less than two minutes to form a clear, dynamic image of you, so make it count. <br> <br>

Curriculum Vitae (CV) is Latin for “course of life.” In the U.S., a CV generally is requested for positions in academia and research. Its primary objective is to present your professional identity. Much more detailed than a résumé, it includes education, internships, residencies, research, teaching, fellowships, grants, awards, publications, professional memberships and other career related information. The format is highly structured, chronological, sectioned and often quite lengthy. In fact, if your CV exceeds five pages and you are up against a page limit, it is recommended that you create a brief CV with information from the past five years only. Be sure to ask the recipient which is required: a brief or a comprehensive CV. If you are applying for a job outside the U.S., the CV may be your only option: some countries do not accept résumés. Here is a great site on what to include in the CV: <br> <br>

https://owl.english.purdue.edu/owl/resource/641/1/ <br> <br>

I recommend that you keep a running document that includes all your academic and professional positions in chronological order. You should also include professional accomplishments, recognitions, professional memberships, and positions of service. Essentially, keep an ongoing list of everything you have done. From this document you can easily create résumés or brief CVs by cutting and pasting from your comprehensive document. <br> <br>

Whether you are submitting a résumé or CV, you should be guided by the position for which you are applying. Be sure to review the requirements and tailor your document for perfect alignment. Remember, for all intents and purposes, your résumé or CV is your personal representative. <br> <br>

Bear in mind that you may not be the sole candidate for the job you want. But since you know you are the best person for it, make sure your document reflects all the reasons why.
</h4>
<a href="/"> Back </a> </p>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>