<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet"type= "text/css"href= "style.css"

    <div class="card"> 
      <h2> Expanding your network </h2> 
  </head>
  <body>  
  <div class="card"> 
    <img src="image/networking.jpg" alt="My Blog Image" width="600"> 
    <br><br>
Meeting people is a “must” for your professional development. Expanding your network has countless benefits, where you may reap rewards like: Tapping into resources that would not be readily available to you, gaining educational and career opportunities and building life-long relationships which can all lead to success. Whether you’re in a career, a full-time student or stay-at-home parent, you will find that networking will enrich your life. <br> <br>

<p>Networking done right is greater than a business card exchange. It is a sincere opportunity to build lasting relationships that have mutual benefits (between you and the people that you meet).<p>

<p>Here are some tips on building relationships through networking: 
*Meet at least five people at every event- As you get comfortable networking,challenge yourself to increase the number.
Be the first to say, “Hello” and make an introduction- No need to be shy… lots of people initially feel uncomfortable
networking. <p>

  <p> *Stay engaged in the conversation- Don’t get distracted by phones or neighboring conversations. During the conversation, you may want to ask how you can help the person achieve their goals. This question opens up a greater conversation. People who network understand the value of assisting each other. <p>

  <p>Offer your business card once a rapport has been established. Networking is not a numbers game. This is an opportunity to build lasting relationships. <p>

    <p>Circulate the venue- Spend 5-10 minutes in a conversation. Your first meeting is an initial introduction. You run the risk of not being able to meet other people if you spend an excessive amount of time in a single conversation.<p>

      <p>Follow-up within 24 hours of your initial meeting- Your follow-up can be a simple call, email or invitation to a professional social media site (e.g. LinkedIn). This gives you an opportunity to express your appreciation in meeting the person and/or make plans to meet again to get better acquainted.<p>

        <p>Become a resource to your network- You will become the “go-to person “once you begin to share specific information that may assist people within your network. You may find out that a person you’ve met is looking into branching out into another market that you may have information about. Cut some of their research time by sending them helpful information. Becoming a valuable resource to
others is a surefire way to build relationships. <p>

  <p>Cultivate relationships- All relationships need attention. Periodically throughout the year, send people within your network a card. This keeps you in front of them, while demonstrating that you value them.<p>

    <p>Remember, people are attracted to authenticity. When you network, don’t forget to be yourself. Not every encounter is going to turn into a relationship. However, if you place some effort in getting to know others, you will find that there are many resourceful people who are at your fingertips. If you have not connected the dots…networking to build relationships can help you obtain your goals.
      <a href="/"> Back </a>
      <p>




