<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="header">
  <h2>Loren M. Hill, PhD</h2>

</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>What’s the difference between a résumé and a CV?</h2>
      <h5> April 2, 2018</h5>
      <img src="image/arnel.jpg" alt="My Blog Image" width="600">
          <p>At some point in our job seeking journeys, we’ve all been asked to submit our résumés or CVs. But how many of us assume these documents are essentially the same thing? They are not, and understanding the difference can help you make the case for yourself.<br>

          <P>Over the years, I have reviewed a number of applicants’ résumés and CVs. They have not all been equal. Those of us who have been in the workforce for some time have even noticed changes in what should or should not be included in these documents. If you are newer to the workforce, you may need some pointers on how create your résumé or CV to reflect your awareness of these changes; you want to make the documents represent your best self. But whether you have been doing this for a while or you’re just starting out, this is a great time to take a look at what you have and review it with a critical eye.<br> <br>
          <a href="/blog1"> Read More </a> </p>

    </div>

    <div class="card">
      <h2>Expanding your network</h2>
      <h5>March 31, 2018</h5>
      <img src="image/networking.jpg" alt="Meetingpeopleblog" width="600">
      <p>Meeting people is a “must” for your professional development. Expanding your network has countless benefits, where you may reap rewards like: Tapping into resources that would not be readily available to you, gaining educational and career opportunities and building life-long relationships which can all lead to success. Whether you’re in a career, a full-time student or stay-at-home parent, you will find that networking will enrich your life.<br> <br>
          <a href="/blog2"> Read More </a> </p>
    </div>

    <div class="card">
      <h2>For the teens in our lives! Achievement is to Accomplish or Attain by Work or Effort</h2>
      <h5>March 15, 2018</h5>
      <img src="image/teen.jpg" alt="Achievement" width="600">
      <p>What does it mean to achieve? 
You may think that this single question is only asked of you when you are between the ages of 16-18.  It's the notorious question that is echoed from your guidance counselor, parents and that one family member that you were stuck sitting next to at the last family reunion (LOL).  On a serious note, this question may start in high-school, but during the course of your life you will be asked what achievement means to you?  The beauty of achievement is that it is a combination of work and effort.  That's it!!!  There's no financial cost, no special VIP pass or any other secret path to get it.  Through work and effort, you have the ability to attain achievement.

According to Keith D. Harrell, author of "Attitude is Everything for Success" there are three simple exercises that you can do daily to assist in obtaining your goals.  The three basic ideas to manifest what you want to achieve is to Say it, Believe it, and Receive it. <br> <br>
          <a href="/blog3"> Read More </a> </p>
    </div>


  </div><!-- end of left column -->


  <div class="rightcolumn">
    <div class="card">
      <h3>About Loren M. Hill, PhD
</h3>

<a href="image/Ren.jpg">
      <img src="image/Ren.jpg" alt="Loren Hill image" width="210">
    </a>
      
      <p>Dr. Hill directs mental health training, research and community involvement pertaining to forensic psychology. She facilitates student and faculty interaction with community partners for the purposes of service design and delivery, program evaluation, and research. She supports Department Chair and faculty in the area of student and community involvement, identifies new initiatives for student applied work, practicum site development, research and evaluation of program development efforts and coordination of forensic program efforts.</p>
    </div>
    <div class="card">
      <form action="/savedata" method="post">
  <fieldset>
    <legend>Personal information:</legend>
    First name:<br>
    <input type="text" name="firstname" placeholder="Mickey">
    <br>
    Last name:<br>
    <input type="text" name="lastname" placeholder="Mouse">
    <br>
    Email address:<br>
    <input type="email"       name="emailaddress"    placeholder="mickey@magickingdom.com">
    <input type="submit"       value= "Submit"> <br>
  </fieldset>
</form>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-facebook"></a>
    </div>
  </div>
</div>
<div class="footer">
  <h6>Copyright2018 Loren M. Hill|All Rights Reserved|Powered by Monique Stenns</h6>
</div>
</body>
</html>
